[bot]
key = "YOUR_KEY"

[db]
host = "host"
port = 80
username = "username"
password = "password"
database = "database"

[groups]

[groups.TestWorker]
# Master switch
enabled = true
# Message forwarding
message_forwarding = true
member = -1  # Member's group
admin = -2   # Admin's group
# Greetings
greetings_auto = true
greetings = "A greeting message for new memeber"
# Group admin mode
admin_cmds = true